header {
    background-color: #0f4c75;
    padding: 20px 0;
    color: #bbe1fa;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #bbe1fa;
    font-size: 1.2em;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #3282b8;
}

@media (max-width: 600px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 800px;
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
}

form {
    width: 100%; /* Ajusta esto según la anchura deseada del formulario */
    display: flex;
    flex-direction: column;
    align-items: center;
}

label, input, textarea, button {
    width: 90%; /* Ajusta la anchura de los elementos del formulario */
    margin-bottom: 20px; /* Espaciado entre los elementos del formulario */
}

input[type="text"],
input[type="email"],
textarea {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

textarea {
    height: 100px;
}

button[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #f8f9fa;
    color: #333;
    border-top: 1px solid #eee;
    width: 100%;
}